.result {
  background: #4fb99f;
  min-height: 22rem;

  .title {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
  }
  .desc {
    color: #fff;
    text-align: center;
  }
}
