.bg-mentor {
  background: $main;

  .navbar,
  .navbar-dark,
  .navbar-brand {
    font-family: "Poppins", sans-serif;
    color: $third;
  }
}

.form-control {
  font-family: "Poppins", sans-serif;
  border-radius: 0;
  outline: none;
  color: #fff;
  border: $secondary 2px solid;
  background: $secondary;

  &::placeholder {
    color: #fff;
  }

  &:focus {
    font-weight: bold;
    // transition: all ease-in-out 0.3s;
    color: #fff;
    background: $secondary;
    border-bottom: 2px solid #fff;
  }
}
